<!-- Left Sidebar  -->
<div class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-devider"></li>
                    <li class="nav-label">Home</li>
                    <li> <a  href="/" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard </span></a>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Parents</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/all_parents">All Parents</a></li>
                            <li><a href="/add_parent">Add Parent</a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Teachers </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/all_classes">All Classes</a></li>
                            <li><a href="add_class">Add Class</a></li>
                            
                        </ul>
                    </li>
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Students</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/students">All Students</a></li>
                            <li><a href="/register_student">Register Student</a></li>
                        </ul>
                    </li>
                    
                    <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Teachers </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="/all_teachers">All Teachers</a></li>
                            <li><a href="add_teacher">Add Teacher</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </div>
    <!-- End Left Sidebar  -->