<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/material-dashboard.css?v=2.0.0">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="stylesheets/demo.css" rel="stylesheet" />
</head>
<body style=" padding-top: 100px;">
    

<!-- Login form begins -->
<div class="card" style="width: 70%; margin: auto;">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Register</h2>
        <!-- <p class="card-category"></p> -->
    </div> 
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input type="text" class="form-control" >
                    </div>
                </div>     
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">Password</label>
                        <input type="password" class="form-control" >
                    </div>
                </div>     
            </div>
            <center><button type="submit" class="btn btn-primary">Login</button></center>
            <div class="clearfix"></div>
        </form>
    </div>
</div>


    <script src="javascripts/core/jquery.min.js"></script>
<script src="javascripts/core/popper.min.js"></script>
<script src="javascripts/bootstrap-material-design.js"></script>
<script src="javascripts/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="javascripts/plugins/chartist.min.js"></script>
<!-- Library for adding dinamically elements -->
<script src="javascripts/plugins/arrive.min.js" type="text/javascript"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="javascripts/plugins/bootstrap-notify.js"></script>
<!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="javascripts/material-dashboard.js?v=2.0.0"></script>
<!-- demo init -->
<script src="javascripts/plugins/demo.js"></script>

</body>
</html>